/* color="#0057B8" */
/* color="#FFD700" */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;

  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --tg-main-bg-color: var(--tg-theme-bg-color);
  --tg-second-bg-color: var(--tg-theme-secondary-bg-color);
  --tg-main-text-color: var(--tg-theme-text-color);
  --tg-second-text-color: var(--tg-theme-hint-color);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

body.no-scroll {
  overflow: hidden;
}

body,
h1,
h2,
h3,
h4,
p,
span,
img,
button,
input,
ul,
li {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
